* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0.5%;
    
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: black; }
a:active { text-decoration: none; }
a { color: inherit; } 

body {
    background-color: #071624;
}


nav {
    
    color: white;
    display: flex;
    flex-direction: column;
    
} 

nav a {
    font-size: 18pt;
}





.my-stuff {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    width: 80vw;
    margin: auto;
    font-family: 'open-sans', 'serif', 'sans-serif', 'monospace';
    padding: 0px;

}

.my-stuff article {

    border-bottom: solid #090c0f;
    justify-content: space-evenly;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    font-size: 1em;
    
}

.my-stuff article h3 {
    
   color: whitesmoke;
   padding: 0px;

}

.my-project-images {
    
    margin: 2px;
    padding: 2px;
    height: 18px;
    width: 19px;
    
}


#showcase {
    
    height: 90vh;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-image: url(./images/border_image.png) 10 10 / 6px 4px / 0;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: flex-start;
    justify-content: flex-start;
    
    
}



#contact {
    padding: 10px;
    align-items: center;
    background-color: #52708a;

}


#contact ul {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    list-style: none;
}

#contact li {
    border: solid #090c0f;
    padding: 5px;
    background-color: #1b252e;
    color: whitesmoke;
    
}


@media (max-width: 992px ) {
    #about-me h3 {
    
        rotate: 90deg;
          
  }


  .hide-content {
    display: none;
  }

  

  #contact h3 {
    rotate: 90deg;
    position: relative;
    right: 66px;
  }
}

@media (max-width: 768px ) {
    
    #bioContainer {
        font-size: ;
    }
    
  }
  
  
    
  
  


   