  .footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    border-top: solid white;
    border-top-width: 2px;
    z-index: 1020;
    
    
  }