
#smooth-content {
  overflow: visible;
  width: 100%;
  /* set a height because the contents are position: absolute, thus natively there's no height */
  height: 1300px;

}

#smooth-content .project-display {
  top: 30%;
}

