
#smooth-content {
  overflow: visible;
  width: 100%;
  /* set a height because the contents are position: absolute, thus natively there's no height */
  height: 600px;

}

#smooth-content .project-display {
  bottom: 20%;
  padding-left: 1.2rem;
}

