#mainNav {
    box-shadow: 0px 2px rgba(255, 255, 255, 0.664);
}
#subtitle {
    font-size: .75em;
}

#bioContainer {
    padding: 5px;
    display: flex;
    justify-content: center;

}

#bioContainer p {
    max-width: 50%;
}