* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0.5%;
    
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a { color: inherit; } 

body {
    background-image: linear-gradient(#24323d, #40576b)
}

header {
    
    width: 100%;
    background-color: #1b252e;
    text-align: right;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: whitesmoke;
    font-family: 'open-sans', 'serif', 'sans-serif', 'monospace';
    
}

header h1 {
    border-bottom: solid #090c0f;
    width: 35%;
    justify-self: center;
    padding: 10px;
    margin: 5px;
    
}

header h4 {
   
    padding: 10px;
    margin: 5px;
    width: 35%;
    
}



.nav-bar {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    background-color: #49637a;
    margin: 5px;
    text-decoration: none;
    z-index: 1;
    font-family: 'open-sans', 'serif', 'sans-serif', 'monospace';
    font-size: 1.2em;
    border: inset #090c0f;
} 

.nav-bar ul {
    display: inline;
}
.nav-bar li {
    
    display: inline;
    padding: 0px 3px;
    text-align: center;
    position: relative;
    top: 0px;
    right: 2px;
    color: white;
    border-right: dashed whitesmoke;
    
}


.my-stuff {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    
    width: 80vw;
    margin: auto;
    font-family: 'open-sans', 'serif', 'sans-serif', 'monospace';
    padding: 0px;

}


.my-stuff article {
    border-bottom: solid #090c0f;
    justify-content: space-evenly;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    font-size: 1em;
    
}

.my-stuff article h3 {
    
   
   color: whitesmoke;
   padding: 0px;
    

    }


.my-project-images {
    margin: 2px;
    padding: 2px;
    border: outset whitesmoke;
}

#about-me {
    padding: 10px;
    border-bottom: 3px solid #090c0f;
    background-color: #52708a;
    display: flex;
    justify-content: space-between;

}

#about-me h3 {
   position: relative; 
   padding: 0px;
   
}

#about-me p {
    max-width: 60%;
    float: left;
}

#projects {
    
    padding: 10px;
    background-color: #52708a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projects h3 {
   
    position: relative;
    padding: 0px;
}



#contact {
    padding: 10px;
    align-items: center;
    background-color: #52708a;

}

.header-container {
    width: 30%;
}

#contact ul {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    list-style: none;
}

#contact li {
    border: solid #090c0f;
    padding: 5px;
    background-color: #1b252e;
    color: whitesmoke;
    
}


@media (max-width: 992px ) {
    #about-me h3 {
    
        rotate: 90deg;
          
  }

  #projects h3 {
    rotate: 90deg;
  }

  .hide-content {
    display: none;
  }

  #projects h3 {
    right: 28px;
    top: 24px;
  }

  #contact h3 {
    rotate: 90deg;
    position: relative;
    right: 66px;
  }
}

@media (max-width: 768px ) {
    
    .my-stuff {
        flex-wrap: nowrap;
    }
    
    #projects img {
        display: block;
        width: 100px;
        height: 100px;
    }

    #contact ul {
        display: block;
    }

    #about-me img {
        display: none;
    }

    #contact h3 {
       
        position: relative;
        right: 29px;
      }
    
  }
  
  
    
  
  }


   